# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Virtual environment
venv/
env/
.venv/

# VSCode
.vscode/

# macOS
.DS_Store

# Data and uploads (do not commit large datasets)
*.zip
data/

# Python packaging
*.egg-info/

# pytest
.pytest_cache/
